<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body>
    <main class="container">

        <section class="row text-center">
            <h1>Menu principal</h1>
        </section>
        
        <section class="row g-5 mb-3">
                <div class="col-6 d-grid justify-content-center">
                    <div class="card rounded-5" style="width: 14rem;">
                        <img src="../img/userConf.png" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                          <a href="Usuarios.html" class="btn btn-outline-dark">Ver usuarios</a>
                        </div>
                    </div>
                </div>

            <div class="col-6 d-grid justify-content-center">
                <div class="card rounded-5" style="width: 14rem;">
                    <img src="../img/userConf.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                      <a href="todosRegistros.html" class="btn btn-outline-dark">Ver registros</a>
                    </div>
                </div>
            </div >
        </section>

        <section class="row g-5">
            <div class="col-6 d-grid justify-content-center">
                <div class="card rounded-5" style="width: 14rem;">
                    <img src="../img/userConf.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <a href="Usuarios.html" class="btn btn-outline-dark">Ver usuarios</a>
                    </div>
                </div>
            </div >
            <div class="col-6 d-grid justify-content-center">
                <div class="card rounded-5" style="width: 14rem;">
                    <img src="../img/userConf.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <a href="Usuarios.html" class="btn btn-outline-dark">Ver usuarios</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../script/menuPrincipal.js"></script>
</body>
</html>