<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body style="background-image: url(../img/fondoLogin.jpg);">
    <main class="container">
        
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <article class="col-4 row rounded-5  p-2 bg-body bg-opacity-50">
                <div id="imgLog" class="col-2  p-1 rounded">
                    
                </div>
                <div class="col  p-1 rounded fst-italic fw-semibold">
                    <div id="nameLog"></div>
                    <div id="userLog"></div>
                </div>
            </article>
            
            <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="menuPrincipal.html" class="nav-link px-2 link-dark fw-bold">Home</a></li>
              <li><a href="Usuarios.html" class="nav-link px-2 link-dark fw-bold">Usuario</a></li>
              <li><a href="Offices.html" class="nav-link px-2 link-dark fw-bold">Offices</a></li>
              <li><a href="todosRegistros.html" class="nav-link px-2 link-dark fw-bold">Tables</a></li>
            </ul>
      
            <div class="col-md-3 text-end">
              <a type="button" href="index.html" class="btn btn-primary">Cerrar sesio&nacute;</a>
            </div>
        </header>
        

        <section class="row justify-content-center">
            <article class="col-8  table-responsive shadow bg-light rounded">
                <div class="mb-2 row">
                    <div class="col mt-2">
                        <button class="btn btn-primary " id="btnNewUser"> <i class="bi bi-person-plus"> </i>Nuevo usuario</button>
                    </div>
                    <div class="col mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="findUser" placeholder="Buscar usuario" >
                            <label for="findUser"><i class="bi bi-search"></i> Buscar por nombre</label>
                          </div>
                    </div>
                </div>
                <table class="table table-hover shadow ">
                    <thead>
                        <tr class="bg-info bg-opacity-50 text-center" id="headTableUser">
                        
                        </tr>
                    </thead>
                    <tbody id="bodyTableUser">
                        <tr>
                            <td>1</td> <td>Arcelio</td> <td>Montezuma</td>
                        </tr>

                        <tr>
                            <td>1</td> <td>Arcelio</td> <td>Montezuma</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>

        <section class="row mt-3 justify-content-center ">
            <article class="col-6  text-center">
                <button id="btnExit" class="btn btn-danger">Menu principal</button>
            </article>
        </section>
    </main>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../script/Usuarios.js"></script>
</body>
</html>